/*---------------------------------------------------------------
Project:	Nature One Page Template v-2
Version:	1.0
Last change:	01/05/2015
Assigned to:	moonhunters (moonhuntersteam@gmail.com)
Primary use:	Themeforest
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Preloader
        - #preloader
        - #status
3. Typography
        - h1
        - h2
        - h3
        - p
4. Navbar
        - .navbar
        - .navbar-default
        - .navbar-toggle
        - .navbar-right
        - .navbar-text
        - .navbar-brand>img
        - .navbar-brand
        - .top-nav-collapse
5. Carousel
        - .carousel,.item,.active
        - .carousel-inner
        - .carousel
        - .carousel-caption
        - .fill_1, .fill_2, .fill_3
        - .arrow-left
        - .arrow-right
        - .item h2
        - .caro h2
        - .caro h5
        - .caro h3
        - .caro p
        - .title2
6. Video
        - .youtube
        - .caro
7. Counter
        - ul#example
        - ul#example li span
        - ul#example li.seperator
        - ul#example li p
8. Testimonial
        - .testimonial
        - .testimonial-border
        - .testimonial-text
        - blockquote
        - #quote-carousel
        - .carousel-inner
        - .item blockquote
9. About Us
        - .about-back
        - .about-text
        - .about-text h2
        - .about-images
        - #text-aboutus
        - .divider-line
        - .contact-button
        - .enjoy-button
10. subscribe
        - .subscribe
        - .subs
        - .subscribe-group
        - #email
        - .form-control
        - .sub-down
        - .send
12. what we do
        - .container-fluid-offer
        - .what-we
        - .file-text-icon
        - .file-text-icon:hover
        - .icons
        - .what_we_do
        - .offer-border
        - .what
13. gallery
        - .images-gallery
        - .gallery
        - figure
        - figcaption
        - .modalDialog
        - .modalDialog:target
        - .modalDialog img
        - .close
14. our team
        - #our-team
        - .team h2
        - .team h3
        - .team h4
15. contact
        - .contact-us
        - .input-group .form-control
        - .form-control
        - .input-group-addon
        - form-control:focus
        - .lead
        - .lead-left
16. Footer
        - .footer
        - .footer-text
        - .social-icon
        - .social-icon li
        - .icon
        - .icon a
        - .icon a:hover
17. Hover-effect
        - pulse
        - Shutter Out Vertical
        - Shutter Out Vertical-2
        - Hang

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

    Body-color: #313131 (dark)
    jumbotron color: #ffffff (white)
    testimonial color: #313131 (dark)
    text-aboutus color: #848484 (grey)
    contact-us color: #f3f3f3; (white)
    footer color: #4b4e52 (dark)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body copy:		Open Sans 700, 400, 100;
Input, textarea:	Arial, Helvetica, sans-serif;
-------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 1. Body */
/*---------------------------------------------------------------*/

body{
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: scroll;
}

.btn-primary {
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-top: 25px;
    z-index: 999;
    position: relative;
}

.btn-primary:hover {
    color: #313131;
    background-color: #fff;
    border: solid 2px #fff;
    z-index: 999;
    position: relative;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 12px 25px;
}

/*---------------------------------------------------------------*/
/* 2. preloader */
/*---------------------------------------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:99;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin:-100px 0 0 -100px;
}
/*---------------------------------------------------------------*/
/*  preloader-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 3. typography */
/*---------------------------------------------------------------*/
h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 25px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color: #3f3f3f;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #313131;
    margin-bottom: 35px;
}
/*---------------------------------------------------------------*/
/* typography-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 4. navbar */
/*---------------------------------------------------------------*/
.navbar {
    display: none;
    min-height: 50px;
    margin-bottom: 25px;
}

.navbar-default {
    background-color: transparent;
    opacity: 1;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-toggle {
    background-image: url(../images/menu-icon.png);
    margin-top: 16px;
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 12px;
    margin-top: 8px;
    margin-right: 15px;
    background-color: #fff;
    background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: #313131;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #313131;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    height: auto;
    margin-right: 30px;
}

.navbar-right {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-text {
    margin-top: 15px;
}

.navbar-default .navbar-text {
    color: #41414f;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #313131;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .close.navbar-nav>.active>a:focus {
    color: #313131;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-brand>img {
    display: block;
    width: 100%;
}
.navbar-brand {
    padding: 0px 15px;
}

.nav>li>a {
    display: inline;
}

.navbar-nav>li>a {
    line-height: 50px;
}

.navbar-brand h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-top: -7px;
}

.top-nav-collapse {
    padding: 0;
    background-color: rgba(255,255,255,0.5)
}
/*---------------------------------------------------------------*/
/* navbar-end */
/*---------------------------------------------------------------*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*---------------------------------------------------------------*/
/* 5. carousel */
/*---------------------------------------------------------------*/
.carousel-indicators {
    display: none;
}
.carousel,
.item,
.active {
    height: auto;
}

.carousel-inner {
    height: auto;
}

.carousel {
    margin-top: -25px;
}

#myCarousel {
    width:100%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

.fill_1 {
    background-image:url('../images/1.jpg');
    width: 100%;
    height: 950px;
    background-position: center;
    border: 50px solid rgba(255,255,255,0.3);


}

.fill_2 {
    background-image: url('../images/2.jpg');
    width: 100%;
    height: 950px;
    background-position: center;
    border-bottom: 50px solid rgba(255,255,255,0.3);
    border-top: 50px solid rgba(255,255,255,0.3);
    border-right: 50px solid rgba(255,255,255,0.3);
    border-left: 50px solid rgba(255,255,255,0.3);
}

.fill_3 {
    background-image: url('../images/3.jpg');
    width: 100%;
    height: 950px;
    background-position: center;
    border-bottom: 50px solid rgba(255,255,255,0.3);
    border-top: 50px solid rgba(255,255,255,0.3);
    border-right: 50px solid rgba(255,255,255,0.3);
    border-left: 50px solid rgba(255,255,255,0.3);
}

.brand img {
    margin-bottom: 50px;
}

.arrow-left {
    z-index: 999 !important;
    margin-top: 400px;
    margin-left: -190px;
}

.arrow-left:hover{
    margin-left: -250px;
    transition-duration: 1s;
}

.arrow-right{
    z-index: 999 !important;
    margin-top: 400px;
    margin-right: -190px;
}

.arrow-right:hover{
    margin-right: -250px;
    transition-duration: 1s;
}

.item h2 {
    font-size: 82px;
    font-weight: 700;
    display: inline;
    margin-bottom: 40px;
    position: relative;
    z-index: 999;
}

.caro h2 {
    font-size: 30px;
    font-weight: 700;
    display: inline;
    margin-bottom: 420px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.caro h5 {
    font-size: 82px;
    z-index: 999;
    position: relative;
    margin-bottom: 20px;
}

.caro h3 {
    width: 150px;
    margin: 0 auto;
}

.caro h6 {
    width: 250px;
    margin: 0 auto;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    z-index: 999;
}

.caro p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto;
    padding-left: 3px;
    position: relative;
    z-index: 999;
    padding-top: 20px;
    line-height: 32px;
}

.title2 {
    list-style: none;
    margin:  0 auto;
    padding: 0;
    display: block;
    text-align: center;
    border-bottom: 3px solid #fff;
    margin-bottom: 420px;
    margin-top: 40px;
    width: 380px;
    padding-right: 20px;
}
/*---------------------------------------------------------------*/
/* carousel-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 6. video */
/*---------------------------------------------------------------*/

.youtube {
    width: auto;
    height: 750px;
    text-align: center;
    color: #fff;
}

.caro  {
    padding-top: 250px;
    text-align: center;
    color: #fff;
}


/*---------------------------------------------------------------*/
/* video-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 7.counter */
/*---------------------------------------------------------------*/
ul#example {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
    width: 449px;
    padding-right: 55px;
}


ul#example li { display: inline-block; }

ul#example li span {
    font-size: 48px;
    font-weight: 100;
    line-height: 30px;
    padding: 60px;
    color: #fff;
}

.days-count {
    font-size: 48px;
    font-weight: 100;
    color: #fff;
    padding-left: 10px;
    padding-bottom: -10px;
}

.days-count p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 5px;
    letter-spacing: 3px;
}

ul#example li.seperator {
    font-size: 18px;
    padding-left: 15px;
    font-weight: 100;
    padding-bottom: 5px;
}

ul#example li p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
}

.cross img{
    position: absolute;
    height: 225px;
    margin-top: 40px;
}

/*---------------------------------------------------------------*/
/* 8. testimonial */
/*---------------------------------------------------------------*/
.testimonial {
    background-color: #fff;
    opacity: 0.9;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;

}

.testimonial-border {
    color: #313131;
    width: 75px;
    border-top: 3px solid #313131;
    border-radius: 2px;
    padding-bottom: 45px;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 20px;
}

.testimonial-text  {
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
}

blockquote {
    padding: 20px 20px;
    margin: 0 0 20px;
    font-size: 13px;
}

#quote-carousel {
    padding: 0 10px 10px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
}

.carousel-inner {
    min-height: 220px;
    margin-top: 25px;
    color: #313131;
    line-height: 180%;
    text-align: left;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

blockquote footer, blockquote small, blockquote .small{
    margin-top: 20px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}
/*---------------------------------------------------------------*/
/* testimonial-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. about us */
/*---------------------------------------------------------------*/

.about-back {
    background: url(../images/2.jpg) 50% 0 fixed;
}

.about-text {
    background-color: rgba(255,255,255,0.4);
    padding-top: 200px;
    padding-bottom: 80px;
    text-align: left;
    padding-left: 40px;
}

.about-text h2 {
    font-size: 32px;
    font-weight: 700;
    display: inline;
    color: #fff;
    padding-left: 100px;
    text-transform: uppercase;
    letter-spacing: 7px;

}

.about-images {
    margin-top: 220px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 35px;

}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-responsive1, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

#text-aboutus {
    margin-top: 45px;
    padding-right: 100px;
    padding-left: 100px;
    color: #fff;
    text-align: justify;
    display: inline-block;
    line-height: 2;
    margin-bottom: 85px;
    font-size: 16px;
}

.divider-line {
    border-bottom: 3px solid #fff;
    width: 75px;
    margin-left: 100px;
    margin-top: 25px;
}

.contact-button {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight:700;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 100px;
    color: #fff;
}

.contact-button:hover {
    color: #313131;
    border: 3px solid #fff;
}

.enjoy-button {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight:700;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 360px;
    margin-top: 45px;
}

.enjoy-button:hover {
    color: #313131;
    border-bottom: 3px solid #fff;
}

.about-back-1 {
    background-color: #fff;
}

.about-text-1 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 40px;
    color: #313131;
}

.about-text-1 h2 {
    font-size: 32px;
    font-weight: 700;
    display: inline;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
}

#text-aboutus-1 {
    margin-top: 45px;
    padding-right: 100px;
    padding-left: 100px;
    color: #313131;
    display: inline-block;
    line-height: 2;
    margin-bottom: 85px;
    font-size: 16px;
}

.divider-line-1 {
    border-bottom: 3px solid #313131;
    width: 75px;
    margin: 0 auto;
    margin-top: 25px;
}

/*---------------------------------------------------------------*/
/* about us end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 10. subscribe */
/*---------------------------------------------------------------*/
.subscribe {
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0px;
}

.subs {
    text-align: left;
    margin-top: 85px;
    margin-bottom: 39px;
}

.subs h2 {
    text-align: center;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: -86px;
    padding-top: 50px;
    margin-left: 15px;
}

.subscribe-group {
    display: inline;
    text-align: center;
}

#email {
    width: 350px;
    background-color: transparent;
    margin-bottom: 25px;
    font-size: 14px;
    border: transparent;
    border-bottom: 1px solid #848484;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control {
    padding-left: 0px;
    margin-top: -10px;
}

.sub-down {
    padding-left: 0px;
    padding-right: 0px;
}


.send {
    border: 2px solid #313131;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    outline: 0;
    margin-left: -25px;
    margin-top: -14px;
    margin-bottom: 45px;
    color: #fff;
    background-color: #313131;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*---------------------------------------------------------------*/
/* 12. what we do */
/*---------------------------------------------------------------*/
.container-fluid-offer {
    padding-right: 70px;
    padding-left: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.what-we {
    background-color: #fff;
}

.awesome-icons {
    padding-right: 20px;
}

.icons {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.what_we_do {
    text-align: center;
    margin-top: 80px;
}

.what_we_do h2 {
    font-size: 28px;
    font-weight: 700;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #313131;
    padding-bottom: 20px;
}

.offer-border {
    width: 75px;
    border-top: 3px solid #8f8f8f;
    border-radius: 2px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-top: 20px;
}

.what {
    margin-top: 50px;
    text-align: center;
}
.what h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: -35px;
}

.what p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 25px;
    color: #313131;
    padding-right: 70px;
}

.webdesign {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 40px;
}

.copywriting {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 40px;
}

.coding {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 40px;
}
/*---------------------------------------------------------------*/
/* what we do - end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 13. gallery*/
/*---------------------------------------------------------------*/
.images-gallery{
    position:relative;
    padding: 0;
    height: 100%;
}

.gallery {
    height: 350px;
}

#gallery h1 {
    position: relative;
    top: 270px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 5px;
}

figure {
    height: 170px;
    width: 170px;
    display: block;
    overflow: hidden;
    z-index: 100;

}

figcaption {
    height: 500px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -800px;
    opacity: 0;
    padding: 5px;
}

.sort-gallery a {
    color: #c1a26e;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

a:hover figcaption {
    opacity: 0.5;
    background-color: #fff;
    left: 0;
    color: #000;
    transition: all 0.8s;
}

.to-gallery {
    text-align: right;
    background-color: #313131;
    padding-top: 30px;
    padding-bottom: 30px;
}

.to-gallery .text {
    display: inline;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button-gallery {
    display: inline-block;
    border: 0;
    background: transparent url(../images/send-white.png) 0 0 no-repeat;
    width: 24px;
    height: 15px;
    outline: 0;
    margin-left: 13px;

}

/*---------------------------------------------------------------*/
/* modal*/
/*---------------------------------------------------------------*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 1100px;
    height: 800px;
    color: #000;
    position: relative;
    margin: 7% auto;
    padding: 5px 20px 13px 20px;
}

.modalDialog p {
    color: #000;
    margin-top: 7px;
}

.modalDialog img {
    height: 90%;
}

.close {
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -26px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    -webkit-transition: all 1.3s ease-in-out;
    -moz-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    -ms-transition: all 1.3s ease-in-out;
}


.close:hover {
    color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
/*---------------------------------------------------------------*/
/* gallery-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 14. Our Team*/
/*---------------------------------------------------------------*/
#our-team {
    margin-top: 100px;
    text-align: center;
}


.team h2 {
    font-size: 56px;
    font-weight: 700;
    display: inline;
    color: #4b4e52
}

.team h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4b4e52;
    text-transform: uppercase;
    padding-top: 50px;
    letter-spacing: 5px;
}

.team h4 {
    font-size: 16px;
    font-weight: 400;
    color: #8c8c8c;
    padding-left: 155px;
    padding-right: 155px;
    line-height: 2;
    padding-bottom: 80px;
}


/*---------------------------------------------------------------*/
/*  Our Team-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 16. contact*/
/*---------------------------------------------------------------*/
.contact-background{
    background-color: #fff;
}

.contact-us {
    text-align: center;
    color: #313131;
    padding-top: 40px;
    padding-bottom: 75px;
}

.contact-us h2 {
    font-size: 56px;
    font-weight: 700;
    display: inline;
    color: #f3f3f3;

}

.input-group .form-control {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.12857143;
    color: #313131;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-bottom: 1px solid #fff;

}

.input-group-addon {
    padding: 6px 12px;
     font-size: 0px;
     line-height: 1;
     /*color: transparent;*/
     text-align: center;
     background-color: transparent;
     border: 1px solid transparent;
     border-radius: 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    padding: 5px;
    color: #fff;
}

.form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 8px rgba(0, 0, 0, 0);
}

.contact-send {
    text-align: left;
}

.contact .send {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    outline: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: transparent;
}

.address {
    margin-top: -20px;
}

.h2-contact {
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.lead {
    padding-top: 41px;
    font-size: 16px;
    color: #313131;
    padding-left: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }
/*---------------------------------------------------------------*/
/* contact-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 16 footer*/
/*---------------------------------------------------------------*/
.footer {
    height: 150px;
    background-color: #fff;
    border-top: 2px solid #313131;
}

.footer h4 {
    color: #7c7f83;
    text-align: right;
    margin-top: -45px;
    margin-right: 50px;
}

.footer-text {
    position: relative;
    text-align: right;
}

.social-icon {
   display: table;
   margin-top: 20px;
   margin-bottom: 7px;
   padding: 0px;
}

.social-icon li {
    display: table-cell;
    text-align: left;
    padding: 10px;
}

#footerPinterest {
    background-image: url('../images/social-icons/dark/pinterest.png');
}

#footerFacebook {
    background-image: url('../images/social-icons/dark/facebook.png');
}

#footerTwitter {
    background-image: url('../images/social-icons/dark/twitter.png');
}

.icon {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 41px;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
}

.icon a {
    display: block;
    background-size: 40px, 43px;
    width: 40px;
    height: 44px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.icon a:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -o-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
}

.logo-footer {
    height: 120px;
    padding-top: 35px;
    margin: 0 auto;
}
/*---------------------------------------------------------------*/
/* footer-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* responsive*/
/*---------------------------------------------------------------*/
@media only screen and (max-width: 1550px) {

    .fill_1 {
        height: 750px;
    }
    .fill_2 {
        height: 600px;
    }
    .fill_3 {
        height: 600px;
    }

    .youtube {
        height: 600px;
    }

    .caro  {
        padding-top: 160px;
    }

    ul#example {
        margin-bottom: 200px;
    }

    .title2 {
        margin-bottom: 200px;
    }

    .enjoy-button {
        margin-bottom: 200px;
    }

    .send {
        margin-left: 40px;
    }

    .modalDialog > div {
        width: 785px;
        height: 600px;
        margin-top: 100px;
    }

    .modalDialog img {
        height: 80%;
    }

    #email {
        width: 300px;
        font-size: 15px;
    }

    .arrow-left {
         margin-top: 250px;
         margin-left: -120px;
     }

    .arrow-right {
        margin-top: 250px;
        margin-right: -120px;
    }

    .arrow-left:hover{
        margin-left: -220px;
    }

    .arrow-right:hover{
        margin-right: -220px;
    }

    .brand img {
        height: 120px;
    }

    .cross img {
        margin-left: -43px;
    }

    .about-images {
        margin-top: 180px;
    }

}

@media only screen and (max-width: 1250px) {

    .fill_1 {
        height: 550px;
    }
    .fill_2 {
        height: 550px;
    }
    .fill3 {
        height: 550px;
    }

    .youtube {
        height: 550px;
    }

    .caro  {
        padding-top: 150px;
    }

    .enjoy-button {
        margin-bottom: 70px;
    }

    ul#example {
        margin-bottom: 130px;
    }

    .title2 {
        margin-bottom: 130px;
    }

    .caro h2 {
        font-size: 26px;
    }

    ul#example li p {
        font-size: 14px;
    }

    #email {
        width: 200px;
        margin: 0 auto;
    }

    .send {
        margin-left: 40px;
    }

    .subs .btn-primary {
        margin-left:20px;
    }

    .about-text {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 40px;
    }


    .about-text h3 {
        width: 300px;
    }

    #text-aboutus {
        line-height: 1.5;
    }

    .download h2 {
    }

    .sub-down {
        margin-top:0px;
    }


    ul#example {
        width: 420px;
    }

    ul#example li span {
        padding: 50px;
    }

    .cross img {
        margin-left: -40px;
    }
}

@media only screen and (max-width: 992px) {

    .sub-down {
        margin-top:0px;
    }

    #email {
        width: 370px;
    }

    .arrow-right{
        display: none;
    }

    .arrow-left{
        display: none;
    }

    .social-icons {
        margin-top: -85px;
    }

    .days-count {
        margin-right: 20px;
    }

    .cross img {
    }

    .cross img {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 750px) {


    .fill_1 {
          height: 520px;
    }
    .fill_2 {
        height: 520px;
    }
    .fill_3 {
        height: 520px;
    }

    .youtube {
        height: 520px;
    }

    .caro  {
        padding-top: 110px;
    }

    .title2 {
        margin-bottom: 80px;
        width: 150px;
    }

    .enjoy-button {
        margin-bottom: 10px;
    }

    ul#example li span {
        line-height: 45px;
    }

    ul#example li p {
        font-size: 10px;
    }

    ul#example li.seperator {
        display: none;
    }

    .footer {
        height: 125px;
    }

    .footer h4 {
        text-align: center;
        margin-top: 50px;
        margin-right: 20px;
    }

    .social-icon {
        display: none
    }

    .send-subscribe {
        margin: 0 auto;
        text-align: center;
    }

    .send {
        margin-top: 25px;
    }

    .modalDialog {
        display: none;
    }

    #text-aboutus {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 2;
    }

    #email {
        width: 280px;
        font-size: 14px;
    }

    #text-aboutus-1 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about-text h2 {
        padding-left: 15px;
    }

    .divider-line {
        margin-left: 15px;
    }

    .about-text h3 {
        width: 240px;
    }

    .about-images {
        margin-top: 50px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 20px;
    }

    .team h4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .download h2 {
        letter-spacing: 2px;
        font-size: 12px;
    }

    .caro h2 {
        font-size: 18px;
        letter-spacing: 2px;
    }

     .caro p {
        font-size: 11px;
        letter-spacing: 2px;
        line-height: 1.1;
    }

    .carousel-caption .btn {
        margin-left: -25px;
    }

    .btn-lg, .btn-group-lg>.btn {
        margin-left: -25px;
    }

    .navbar-brand {
        margin-top: 10px;
    }

    .contact-button {
        margin-left: 10px;
    }

    .what p {
        padding-right: 3px;
    }

    .container-fluid-offer {
        padding-right: 25px;
        padding-left: 30px;
    }

    ul#example {
        width: 320px;
    }

    ul#example li span {
        padding: 40px;
    }

    .cross img {
        display: none;
    }

    .gallery {
        height: 480px;
    }

    .fill_1 {
        border: 20px solid rgba(255,255,255,0.3);
    }

    .fill_2 {
        border-bottom: 20px solid rgba(255,255,255,0.3);
        border-top: 20px solid rgba(255,255,255,0.3);
        border-right: 20px solid rgba(255,255,255,0.3);
        border-left: 20px solid rgba(255,255,255,0.3);
    }

    .fill_3 {
        border-bottom: 20px solid rgba(255,255,255,0.3);
        border-top: 20px solid rgba(255,255,255,0.3);
        border-right: 20px solid rgba(255,255,255,0.3);
        border-left: 20px solid rgba(255,255,255,0.3);
    }
}
/*---------------------------------------------------------------*/
/* responsive-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 17. hover-effect */
/*---------------------------------------------------------------*/

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    /*background: #e1e1e1;*/
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: #313131;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Shutter Out Vertical-2 */
.hvr-shutter-out-vertical-transparent {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;

    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-vertical-transparent:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: #fff;

    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical-transparent:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: #313131;
}
.hvr-shutter-out-vertical-transparent:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Shutter Out Vertical-3 */
.hvr-shutter-out-vertical-contact-form {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;

    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-vertical-contact-form:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*border: 2px solid #313131;*/
    border-radius: 5px;
    background: #fff;

    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical-contact-form:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: #313131;
}
.hvr-shutter-out-vertical-contact-form:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Hang */
@-webkit-keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@-webkit-keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

.hvr-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
